body {
  padding-top: 0px;
  padding-bottom: 40px;
}

.fw-below-nav {
  margin-top: 5em;
}

.fw-splash {
  color: #ffcc99 !important;
  background-color: #584a2a;
  background: url('assets/title_background_progressive.jpg');
  background-repeat: repeat;
  background-size: 1420px 1120px;
  max-width: 1200px;
  margin: auto;
}

.fw-splash-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: auto;
  margin-top: 6em;
  text-align: center;
}

.fw-splash-nav li {
  display: inline;
  list-style: none;
  padding: 20px;
  text-transform:uppercase;
  font-size: 1.3em;
}

@media (max-width: 760px) {
  .fw-splash-nav li {
    display: block;
  }
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
  }
}
.center-navbar .nav,
.center-navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.center-navbar .navbar-inner {
  font-size: 1em;
  min-height: 120px;
  text-align:center;
  text-transform:uppercase;
}

.navbar-inner {
  background-color: transparent !important;
  background-image: none !important;
  background-repeat: none !important;
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  filter: none !important;
  -moz-border-radius: none !important;
  -moz-box-shadow: none !important;
  -webkit-border-radius: none !important;
  -webkit-box-shadow: none !important;
}

.navbar .nav > li > a {
  letter-spacing: .1em;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-shadow: none;
}
h1, h2, h3, h4, h5 {
  font-family: "adobe-garamond-pro",sans-serif;
}

.fw-splash h1,
.fw-splash h2 {
  text-align: center;
  text-shadow: -1px 0px 1px #000000;
  filter: dropshadow(color=#00000, offx=-1, offy=0);
}

.fw-splash h1 {
  text-transform:uppercase;
  font-weight: normal !important;
  font-size: 2em;
  letter-spacing: .3em;
}

.fw-splash h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.6em;
}

.fw-splash .hero-unit > h1 > img {
  vertical-align: -17%;
  height: 2em;
  margin-right: .3em;
}

.fw-splash a {
  color: #ffcc99 !important;
}

.fw-splash .span11,
.fw-splash .span9,
.fw-splash .span6,
.fw-splash .span4
 {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
}

.fw-splash .hero-unit {
  background-color: transparent;
}

.inactive_slide {
  display: none;
}

.slideshow {
  position: relative;
  background-size: 100%;
  height: 50%;
}
.slideshow > img {
  left: 0;
  top: 0;
}

.fw-how-we-work,
.fw-home {
  background-color: #a8a097;
}

.fw-how-we-work .nav,
.fw-home .nav {
  background-color: #a8a097;
}

.fw-dark-matter {
  background-color: #333333;
}

.fw-dark-matter .nav {
  background-color: #333333;
}

.fw-how-we-work .nav,
.fw-dark-matter .nav,
.fw-home .nav {
  border-bottom: 1px solid black;
  width: 90%;
  color: #5c5a58;
  font-size: 1.3em;
  font-family: "myriad-pro",sans-serif;

}

.fw-how-we-work .nav li,
.fw-dark-matter .nav li,
.fw-home .nav li {
  margin: .8em 1.2em 0 1.2em;
}

.fw-how-we-work .nav li a,
.fw-dark-matter .nav li a,
.fw-home .nav li a {
  padding-bottom: 2px;
}

.fw-how-we-work .hero-unit p,
.fw-dark-matter .hero-unit p,
.fw-home .hero-unit p {
  font-style: italic;
  font-family: "adobe-garamond-pro",sans-serif;
  font-size: 1.4em;
  color: #5d5852;
  margin: 1em 0 0 0;
  line-height: 1.4em;
  text-align: center;
  font-weight: lighter;
}

.fw-how-we-work .hero-unit,
.fw-dark-matter .hero-unit,
.fw-home .hero-unit {
  background-color: transparent;
}

.fw-how-we-work h1,
.fw-how-we-work h2,
.fw-home h1,
.fw-home h2 {
  text-align: center;
  color: #474847;
}

.fw-how-we-work h1,
.fw-dark-matter h1,
.fw-home h1 {
  text-transform:uppercase;
  font-weight: normal !important;
  font-size: 2.5em;
  letter-spacing: .1em;
}

.fw-how-we-work h2,
.fw-dark-matter h2,
.fw-home h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.6em;
}

.fw-how-we-work .hero-unit > h1 > img,
.fw-dark-matter .hero-unit > h1 > img,
.fw-home .hero-unit > h1 > img {
  vertical-align: -17%;
  height: 2em;
  margin-right: .1em;
}

.fw-home-fluid-pad {
  padding: 0 5em;
}

.fw-home-images h2 {
  font-style: normal;
  text-align: left;
}

.fw-home-images p {
  font-size: 1.5em;
}

.fw-home-images a,
.fw-home-images a:visited,
.fw-home-images {
  font-family: "adobe-garamond-pro",sans-serif;
  line-height: 2em;
  text-decoration: none;
  color: #474847;
}

.fw-home-images a:hover h2,
.fw-home-images a:hover p {
  color: #222;
}

.fw-home-images a:hover img {
  border: 2px solid blue;
  margin: -2px;
}

/* about */

.about_someone > div {
	padding: 30px;
}

.about_someone h1,
.process_entry h1 {
	font-size: 2em;
}

.about_someone {
	max-width: 1080px;
	margin: 0 auto;
}

.about_someone a {
	color: #4455cd;
}

@media (max-width: 765px) {
  .fw-home-images p {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
  }
}

.fw-how-we-work .process_entry,
.fw-dark-matter .process_entry {
  margin-bottom: 2em;
}

.fw-dark-matter-vertcal-pad {
  padding-top: 10px;
}

.fw-dark-matter p {
  color: #ffffff;
}

.fw-dark-matter .fw-dark-matter-quote-attribution {
  color: #cccccc;
  font-family: "myriad-pro",sans-serif;
  text-align: center;
  line-height: 80%;
  font-size:80%;
}

.fw-dark-matter .fw-dark-matter-quote {
  color: #999999;
  font-style: italic;
  font-family: "adobe-garamond-pro",sans-serif;
  text-align: center;
  line-height: 80%;
  margin-top: .5em;
}

.fw-dark-matter h1,
.fw-dark-matter h2 {
  text-align: center;
  font-family: "adobe-garamond-pro",sans-serif;
}

.fw-dark-matter h1 {
  color: #ffffff;
  margin-bottom: 1.1em;
}

.fw-dark-matter h2 {
  color: #cccccc;
  font-size:120%;
  line-height: 160%;
}

.fw-dark-matter h3 {
  color: #cccccc;
  font-family: "myriad-pro",sans-serif;
  text-align: right;
  font-size:100%;
  font-weight: lighter;
}

.fw-dark-matter p {
  color: #999999;
  font-family: "adobe-garamond-pro",sans-serif;
  font-size: 120%;
}

.fw-dark-matter .fw-first-paragraph:first-letter {
  color: #ffffff;
  font-size: 140%;
}

//------------------------------------------------------------------------------
//
// @mark The Four Greek Elements
//
//------------------------------------------------------------------------------

.fw-the-four-elements {
  background-color: #aba39b;
}


.fw-the-four-elements .nav {
  background-color: #aba39b;
}

.fw-the-four-elements p {
  color: #5d5852;
  font-style: italic;
  font-size: 120%;
  font-family: "adobe-garamond-pro",sans-serif;
  margin-top: .5em;
}

.fw-the-four-elements h1 {
  color: #5d5852;
  font-weight: lighter;
  margin-bottom: 1.1em;
  text-align: center;
  text-transform:uppercase;
}

.fw-the-four-elements h2 {
  color: #5d5852;
  font-style: italic;
  font-size:170%;
  font-weight: lighter;
  text-align: center;
  text-transform:uppercase;
}

.fw-the-four-elements h3 {
  color: #5d5852;
  font-size:150%;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.5em;
  text-align: center;
}

.fw-the-four-elements .fw-first-paragraph:first-letter {
  font-size: 220%;
}

.fw-the-four-elements .fw-right-side p {
  font-size: 150%;
  font-style: normal;
  line-height: 150%;
}

//------------------------------------------------------------------------------
//
// @mark One Dozen Roses
//
//------------------------------------------------------------------------------

.fw-one-dozen-roses {
  background-color: #aba49b;
}


.fw-one-dozen-roses .nav {
  background-color: #aba49b;
}

.fw-one-dozen-roses p {
  color: #5d5852;
  font-style: italic;
  font-size: 120%;
  font-family: "adobe-garamond-pro",sans-serif;
  margin-top: .5em;
}

.fw-one-dozen-roses h1 {
  color: #5d5852;
  font-weight: lighter;
  margin-bottom: 1.1em;
  text-align: center;
  text-transform:uppercase;
}

.fw-one-dozen-roses h2 {
  color: #5d5852;
  font-style: italic;
  font-size:170%;
  font-weight: lighter;
  text-align: center;
  text-transform:uppercase;
}

.fw-one-dozen-roses h3 {
  color: #5d5852;
  font-size:150%;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.5em;
  text-align: center;
}

.fw-one-dozen-roses .fw-first-paragraph:first-letter {
  font-size: 220%;
}

.fw-one-dozen-roses .fw-right-side p {
  font-size: 150%;
  font-style: normal;
  line-height: 150%;
}

video {
  width: 100%;
  height: auto;
}
